@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    z-index: 1;
    max-height: 20%;
    position: sticky;
    top: 0px;
}

.main {
    max-height: 90%;
    font-family: 'Open Sans', sans-serif;
}

.header-content {
    background-color: #08005c;
    display: flex;
    align-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-content-menu {
    margin-top: 5px;
    margin-left: 5%;
    margin-right: auto;
}

.line {
    opacity: 0.8;
    display: block;
    height: 3px;
    width: 40px;
    margin-bottom: 7px;
    border-radius: 10px;
    background: #fff;
}

.header-content-title-container {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.header-content-title {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.4px;
    font-weight: 700;
    font-size: 2.0rem;
    color: #fff;

}

.img-responsive {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px;
}

.page-title-container {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: #c2c2c2 solid 2px;
    border-radius: 5px;
}

.page-title-current {
    border-left: #c2c2c2 solid 2px;
    border-right: #c2c2c2 solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
    height: 100%;
    color:#c2c2c2;
}

.page-title-main {
    padding: 5px 10px;
    height: 100%;
    margin-left: 10%;
}

.page-content {
    border-top: #c2c2c2 solid 2px;
    border-radius: 5px;
}

.news-card {
    padding-left: 5%;
    padding-bottom: 10px;
}

.news-card-container {
    margin-top: 2%;
}

.news-card-content {
    margin-top: 2%;
    margin-right: 5%;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom:#c2c2c2 solid 2px;
}

.news-card-content > p {
    max-width: 70%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 1.4rem;
}

.news-card-meta {
    margin-left: 10%;
}

.bi {
    transform: translateY(5px);
    transform:translateX(-10px);
}
